:root {
    --background: #F1FAEE;
    --blue-complement: #1D3557;
    --red-complement: #E63946;
    --blue-frame: #457B9D;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

a {
    all: unset;
    transition: all .3s ease-in-out;
}

.title-wrapper {
    background-color: var(--red-complement);
    position: absolute;
    border: 8px solid var(--red-complement);
    z-index: 3;
}

    .title-wrapper:hover h1 {
        color: var(--blue-complement);
        cursor: pointer;
    }

h1 {
    color: var(--background);
    font-size: 230%;    /* 36.8px */
}

.title-gradient {
    position: absolute;
    height: 52.8px;
    width: 80px;
    left: 220px;
    z-index: 3;
    background: var(--red-complement);
    background: linear-gradient(90deg, var(--red-complement) 0%, var(--blue-complement) 75%);
}

ul {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    height: 52.8px;
    background-color: var(--blue-complement);
    /* box-shadow: 0 10px 10px #aaaaaa; */
}

    ul h2 {
        color: var(--background);
        font-size: 180%;    /* 28.8px */
        padding: 12px 20px;
    }

    ul li:hover h2 {
        color: var(--red-complement);
        cursor: pointer;
    }

.hidden {
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 60px;
    z-index: 1;
    transition: .5s ease-in-out 1s;
}
    .hidden:hover {
        width: 440px;
        transition: .25s ease-in-out 0s;
    }

body {
    background-color: var(--background);
    color: var(--blue-complement);
}

h3 {
    font-size: 200%;
    font-weight: 550;
    display: block;
    width: 100%;
    text-align: center;
    margin: 16px auto;
}

h4 {
    font-size: 130%;    /* 20.8px */
}

.container {
    padding: 36px auto;
}

/* .bg-main {
    background-color: var(--blue-complement);
} */
/* HEIGHT / WIDTH UTILS */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* MARGIN/PADDING UTILS */
/* Margin - all sides */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.375rem;
}

.m-2 {
  margin: 0.625rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.375rem;
}

.m-5 {
  margin: 1.625rem;
}

.m-auto {
  margin: auto;
}

/* Margin-bottom */
.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.375rem;
}

.mb-2 {
  margin-bottom: 0.625rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.375rem;
}

.mb-5 {
  margin-bottom: 1.625rem;
}

.mb-auto {
  margin-bottom: auto;
}

/* Margin-top */
.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.375rem;
}

.mt-2 {
  margin-top: 0.625rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.375rem;
}

.mt-5 {
  margin-top: 1.625rem;
}

.mt-auto {
  margin-top: auto;
}

/* Margin-right */
.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.375rem;
}

.mr-2 {
  margin-right: 0.625rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.375rem;
}

.mr-5 {
  margin-right: 1.625rem;
}

.mr-auto {
  margin-right: auto;
}

/* Margin-left */
.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.375rem;
}

.ml-2 {
  margin-left: 0.625rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.375rem;
}

.ml-5 {
  margin-left: 1.625rem;
}

.ml-auto {
  margin-left: auto;
}

/* Margin - x axis */
.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: 0.375rem;
  margin-left: 0.375rem;
}

.mx-2 {
  margin-right: 0.625rem;
  margin-left: 0.625rem;
}

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-4 {
  margin-right: 1.375rem;
  margin-left: 1.375rem;
}

.mx-5 {
  margin-right: 1.625rem;
  margin-left: 1.625rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Margin - y axis */
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

.my-2 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 1.375rem;
  margin-bottom: 1.375rem;
}

.my-5 {
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Padding - all sides */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.375rem;
}

.p-2 {
  padding: 0.625rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.375rem;
}

.p-5 {
  padding: 1.625rem;
}

/* padding-bottom */
.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.375rem;
}

.pb-2 {
  padding-bottom: 0.625rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.375rem;
}

.pb-5 {
  padding-bottom: 1.625rem;
}

/* padding-top */
.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.375rem;
}

.pt-2 {
  padding-top: 0.625rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.375rem;
}

.pt-5 {
  padding-top: 1.625rem;
}

/* padding-right */
.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.375rem;
}

.pr-2 {
  padding-right: 0.625rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.375rem;
}

.pr-5 {
  padding-right: 1.625rem;
}

/* padding-left */
.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.375rem;
}

.pl-2 {
  padding-left: 0.625rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.375rem;
}

.pl-5 {
  padding-left: 1.625rem;
}

/* padding - x axis */
.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.px-2 {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.px-3 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-4 {
  padding-right: 1.375rem;
  padding-left: 1.375rem;
}

.px-5 {
  padding-right: 1.625rem;
  padding-left: 1.625rem;
}

/* Padding - y axis */
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-2 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}

.py-5 {
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: #2d3e50;
}

.text-info {
  color: #1bbc9b;
}

.text-danger {
  color: #e64c66;
}

.text-default {
  color: #aeaeae;
}

.text-light {
  color: #d9e9e8;
}

.text-dark {
  color: #1a1a1a;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-link {
  color: #1b89bc;
}

/* BACKGROUND UTILS */
.bg-primary {
  background-color: #2d3e50;
}

.bg-info {
  background-color: #1bbc9b;
}

.bg-danger {
  background-color: #e64c66;
}

.bg-light {
  background-color: #d9e9e8;
}

.bg-dark {
  background-color: #1a1a1a;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.bg-link {
  background-color: #1b89bc;
}

/* DISPLAY */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

.display-flex {
  display: flex;
}/* HEIGHT / WIDTH UTILS */
.w-100 {
    width: 100%;
  }
  
  .w-75 {
    width: 75%;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .w-25 {
    width: 25%;
  }
  
  .min-100-vh {
    min-height: 100vh;
  }
  
  .min-100-vw {
    min-width: 100vw;
  }
  
  /* MARGIN/PADDING UTILS */
  /* Margin - all sides */
  .m-0 {
    margin: 0;
  }
  
  .m-1 {
    margin: 0.375rem;
  }
  
  .m-2 {
    margin: 0.625rem;
  }
  
  .m-3 {
    margin: 1rem;
  }
  
  .m-4 {
    margin: 1.375rem;
  }
  
  .m-5 {
    margin: 1.625rem;
  }
  
  .m-auto {
    margin: auto;
  }
  
  /* Margin-bottom */
  .mb-0 {
    margin-bottom: 0;
  }
  
  .mb-1 {
    margin-bottom: 0.375rem;
  }
  
  .mb-2 {
    margin-bottom: 0.625rem;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  .mb-4 {
    margin-bottom: 1.375rem;
  }
  
  .mb-5 {
    margin-bottom: 1.625rem;
  }
  
  .mb-auto {
    margin-bottom: auto;
  }
  
  /* Margin-top */
  .mt-0 {
    margin-top: 0;
  }
  
  .mt-1 {
    margin-top: 0.375rem;
  }
  
  .mt-2 {
    margin-top: 0.625rem;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .mt-4 {
    margin-top: 1.375rem;
  }
  
  .mt-5 {
    margin-top: 1.625rem;
  }
  
  .mt-auto {
    margin-top: auto;
  }
  
  /* Margin-right */
  .mr-0 {
    margin-right: 0;
  }
  
  .mr-1 {
    margin-right: 0.375rem;
  }
  
  .mr-2 {
    margin-right: 0.625rem;
  }
  
  .mr-3 {
    margin-right: 1rem;
  }
  
  .mr-4 {
    margin-right: 1.375rem;
  }
  
  .mr-5 {
    margin-right: 1.625rem;
  }
  
  .mr-auto {
    margin-right: auto;
  }
  
  /* Margin-left */
  .ml-0 {
    margin-left: 0;
  }
  
  .ml-1 {
    margin-left: 0.375rem;
  }
  
  .ml-2 {
    margin-left: 0.625rem;
  }
  
  .ml-3 {
    margin-left: 1rem;
  }
  
  .ml-4 {
    margin-left: 1.375rem;
  }
  
  .ml-5 {
    margin-left: 1.625rem;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  /* Margin - x axis */
  .mx-0 {
    margin-right: 0;
    margin-left: 0;
  }
  
  .mx-1 {
    margin-right: 0.375rem;
    margin-left: 0.375rem;
  }
  
  .mx-2 {
    margin-right: 0.625rem;
    margin-left: 0.625rem;
  }
  
  .mx-3 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  .mx-4 {
    margin-right: 1.375rem;
    margin-left: 1.375rem;
  }
  
  .mx-5 {
    margin-right: 1.625rem;
    margin-left: 1.625rem;
  }
  
  .mx-auto {
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Margin - y axis */
  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .my-1 {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
  }
  
  .my-2 {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
  
  .my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .my-4 {
    margin-top: 1.375rem;
    margin-bottom: 1.375rem;
  }
  
  .my-5 {
    margin-top: 1.625rem;
    margin-bottom: 1.625rem;
  }
  
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  /* Padding - all sides */
  .p-0 {
    padding: 0;
  }
  
  .p-1 {
    padding: 0.375rem;
  }
  
  .p-2 {
    padding: 0.625rem;
  }
  
  .p-3 {
    padding: 1rem;
  }
  
  .p-4 {
    padding: 1.375rem;
  }
  
  .p-5 {
    padding: 1.625rem;
  }
  
  /* padding-bottom */
  .pb-0 {
    padding-bottom: 0;
  }
  
  .pb-1 {
    padding-bottom: 0.375rem;
  }
  
  .pb-2 {
    padding-bottom: 0.625rem;
  }
  
  .pb-3 {
    padding-bottom: 1rem;
  }
  
  .pb-4 {
    padding-bottom: 1.375rem;
  }
  
  .pb-5 {
    padding-bottom: 1.625rem;
  }
  
  /* padding-top */
  .pt-0 {
    padding-top: 0;
  }
  
  .pt-1 {
    padding-top: 0.375rem;
  }
  
  .pt-2 {
    padding-top: 0.625rem;
  }
  
  .pt-3 {
    padding-top: 1rem;
  }
  
  .pt-4 {
    padding-top: 1.375rem;
  }
  
  .pt-5 {
    padding-top: 1.625rem;
  }
  
  /* padding-right */
  .pr-0 {
    padding-right: 0;
  }
  
  .pr-1 {
    padding-right: 0.375rem;
  }
  
  .pr-2 {
    padding-right: 0.625rem;
  }
  
  .pr-3 {
    padding-right: 1rem;
  }
  
  .pr-4 {
    padding-right: 1.375rem;
  }
  
  .pr-5 {
    padding-right: 1.625rem;
  }
  
  /* padding-left */
  .pl-0 {
    padding-left: 0;
  }
  
  .pl-1 {
    padding-left: 0.375rem;
  }
  
  .pl-2 {
    padding-left: 0.625rem;
  }
  
  .pl-3 {
    padding-left: 1rem;
  }
  
  .pl-4 {
    padding-left: 1.375rem;
  }
  
  .pl-5 {
    padding-left: 1.625rem;
  }
  
  /* padding - x axis */
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }
  
  .px-1 {
    padding-right: 0.375rem;
    padding-left: 0.375rem;
  }
  
  .px-2 {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  
  .px-3 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .px-4 {
    padding-right: 1.375rem;
    padding-left: 1.375rem;
  }
  
  .px-5 {
    padding-right: 1.625rem;
    padding-left: 1.625rem;
  }
  
  /* Padding - y axis */
  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .py-1 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
  
  .py-2 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  
  .py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .py-4 {
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
  }
  
  .py-5 {
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-lowercase {
    text-transform: lowercase;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-primary {
    color: #2d3e50;
  }
  
  .text-info {
    color: #1bbc9b;
  }
  
  .text-danger {
    color: #e64c66;
  }
  
  .text-default {
    color: #aeaeae;
  }
  
  .text-light {
    color: #d9e9e8;
  }
  
  .text-dark {
    color: #1a1a1a;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .text-black {
    color: #000000;
  }
  
  .text-link {
    color: #1b89bc;
  }
  
  /* BACKGROUND UTILS */
  .bg-primary {
    background-color: #2d3e50;
  }
  
  .bg-info {
    background-color: #1bbc9b;
  }
  
  .bg-danger {
    background-color: #e64c66;
  }
  
  .bg-light {
    background-color: #d9e9e8;
  }
  
  .bg-dark {
    background-color: #1a1a1a;
  }
  
  .bg-white {
    background-color: #ffffff;
  }
  
  .bg-black {
    background-color: #000000;
  }
  
  .bg-link {
    background-color: #1b89bc;
  }
  
  /* DISPLAY */
  .display-none {
    display: none;
  }
  
  .display-block {
    display: block;
  }
  
  .display-inline-block {
    display: inline-block;
  }
  
  .display-inline {
    display: inline;
  }
  
  .display-flex {
    display: flex;
  }
  
.w-33 {
    width: 33.33vw;
}

.w-66 {
    width: 66.66vw;
}

.p-16 {
    padding: 16px;
}

.center-within {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded {
    border-radius: 40%;
}

.lead {
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-size: 170%;
}

#projects {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.project-wrapper {
    background-color: var(--blue-frame);
    height: 200px;
    width: 323.6px;
    position: relative;
    border-radius: 20px;
}

.project-wrapper:hover .demo {
    background-color: var(--blue-complement);
}

.project-wrapper:hover .project-title {
    color: var(--blue-complement);
}

.demo {
    background-color: var(--red-complement);
    height: 184px;
    width: 307.6px;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 20px;
}

.project-title {
    position: absolute;
    color: var(--background);
    bottom: 8px;
    left: 8px;
    background-color: var(--blue-frame);
    opacity: 0.75;
    border-radius: 0 12px 0 0;
    padding: 4px 4px 0 0;
}

    .project-title::before {
        background-color: transparent;
        content: "";
        position: absolute;
        display: inline-block;
        top: -10px;
        left: 0;
        height: 10px;
        width: 20px;
        border-radius: 0 0 0 10px;
        box-shadow: -8px 0 0 0 var(--blue-frame);
    }

    .project-title::after {
        background-color: transparent;
        content: "";
        position: absolute;
        display: inline-block;
        bottom: 0;
        right: -10px;
        height: 20px;
        width: 10px;
        border-radius: 0 0 0 10px;
        box-shadow: 0 8px 0 0 var(--blue-frame);
    }

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 0.5s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}
.active.fade-left {
    animation: fade-left 1s ease-in;
}
.active.fade-right {
    animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}